apiVersion: v1
kind: Service
metadata:
  name: enterprise-rag-api-service
  namespace: default
spec:
  type: LoadBalancer
  selector:
    app: enterprise-rag-api
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8000
    name: http